html{
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    background-color: white;
}

.advanced-html{
    background-color: white; 
}

body{
        margin: 0;
}

header{
    font-size: 13px;
    display: flex;
    align-items: center;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 6px;
    justify-content: flex-end;
}

.advanced-header{
    display: flex;
    justify-content: space-between;
}

.adv-img-l img{
    width: 80px;
}

.adv-content h1{
    color: #d93a4f;
    margin: 0;
    padding: 10px 8em 6px 30px;
    font-size: 20px;
    font-weight: normal;
}

.adv-content h2{
    color: #333333;
    margin: 0;
    padding: 50px 8em 6px 30px;
    font-size: 18px;
    font-weight: normal;
}

.adv-content p{
    color: #333333;
    padding: 0 30px;
    margin: 10px;
    size: 9px;
}


.adv-row{
    display:grid;
    grid-template-columns: 17% 30% 30%;
    align-items: center;
}

.adv-searchbar-window{
    border: 1px solid #30313432;
    padding: 7px;
}

.adv-input-button{
    margin: 10 10px;
    background-color: #4d90fd;
    font-size: 10px;
    color: #ffffff;
    width: 226px;
    padding: 0 12px;
    border: 1px solid #3079ed;
    border-radius: 3px;
}


header div{
    display: inline-block;
    line-height: normal;
    padding-right: 10px;
}

header img{
    width: 32px;
    padding: 4px;
}

a{
    text-decoration: none;
    color: #202124;
}

a:hover{
    text-decoration: underline;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .google-logo-big{
    margin-top: 170px; /* fix later */
    width: 272px;
}


.content .searchbar{
    font-size: 14px;
    font-family: arial, sans-serif;
    width: 560px;
    height: 46px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 14px;
    padding-right: 8px;
    border: 1px solid #30313432;
    border-radius: 24px;
}

.searchbar .search-img{
    width: 14.58px;
    padding-top: 2px;
    padding-right: 13px;
}

.searchbar-window{
    font-size: 14px;
    font-family: arial, sans-serif;
    width: 403px;
    height: 27px;
    margin-bottom: 8px;
    background-color: rgba(210, 19, 19, 0);
    border: 5px
}

.searchbar-window:focus {
    outline: none; /* Remove default focus outline */
}

.searchbar button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.content .search-buttons{
    display: flex;
    height: 88px;
    gap: 10px;
    margin-top: 11px;
    padding: 0 14px;
}

.content .search-buttons input{
    font-size: 14px;
    font-family: arial, sans-serif;
    width: 140px;
    height: 34px;
    padding: 0 16px;
    margin: 11 2px;
    border: 0px;
    background-color: rgb(248, 249, 250);
    border-radius: 4px;
}

.content .search-buttons .input-button:hover {
    border: 1px solid #dadce0; /* added border style */
    
}

footer{
    font-size: 14px;
    height: 48px;
    display: flex;
    width: 100%;
    background-color: rgb(248, 249, 250);
    align-items: center;
}

.advanced-footer{
    background-color: rgb(248, 249, 250);
    color: #70757a;
}


.first{
    bottom: 48px;
    position: fixed;
    border-bottom-color: rgb(218, 220, 224);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.second{
    bottom: 0;
    position: fixed;
    color: #70757a;
}

.second > div {
    display: flex; /* Ensures children are displayed in a flex container */
    flex: 100%;
}

.bottom-footer-left{
    display: grid;
    justify-content:left;
    padding-left: 10px;
}

.bottom-footer-centre{
    text-align: center;
    width: 392px;
    padding-left: 60px;
}

.bottom-footer-right{
    display: flex;
    justify-content: flex-end;
}

p{
    padding: 15px 30px;
}

footer a{
    padding: 15px;
}
