{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="content">
        <!--displaying posts-->
        {% if posts %}
            <div class="posts-container">
                {% for post in posts_paginated %}
                    <div class="post">
                        <div class="post-first-row">
                            <a href="{% url 'profile' post.user.username%}"><img class="post-profile-image" src="{{ post.user.profilePicture }}" alt="Profile Picture"></a>
                            <br>
                            <p>Follow</p>
                            <br>
                            <p>{{ post.likes }} likes</p>
                        </div>
                        <div class="post-second-row">
                            <div class="post-info">
                                <b>{{ post.user.username }}</b>
                                <i>{{ post.date }}</i>
                            </div>
                            {{ post.content }}
                            <br>
                            <button>Like</button>
                        </div>  
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <div class="loader">No posts from this user yet.</div>
            {% endif %}
            <div class="paginator">
                {% if posts_paginated.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ posts_paginated.previous_page_number}}">Previous</a>
                {% endif %}
                
                Page {{ posts_paginated.number}} of {{ posts_paginated.paginator.num_pages }}

                {% if posts_paginated.has_next %}
                    <a href="?page={{ posts_paginated.next_page_number }}">Next</a>
                    <a href="?page={{ posts_paginated.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </div>
    </div>
{% endblock %}