{% extends "network/layout.html" %}


{% block body %}
    <div class="content">
        <!--creating a new post appears when user is authenticated-->
        {% if request.user.is_authenticated %}
        <div class="posts-container">
            <div class="post">
                <div class="post-first-row">
                    <img class="post-profile-image" src="{{ user.profilePicture }}" alt="Profile Picture">
                </div>
                <div class="post-second-row">
                <form id="compose-form">
                    <textarea id='content' class ="form-control" name="content" id="new-post-content" placeholder="What's on your mind?"></textarea>
                    <input type="submit">
                </form>
                </div>  
            </div>
        </div>
        {% endif %}

        <!--displaying posts-->
        {% if posts %}
            <div class="posts-container">


                {% for follower in followers %}
                    <!-- Access follower's properties -->
                    {{ follower.user_id }} is following {{ followers }}<br>
                {% endfor %}


                {% for post in posts_paginated %}
                    <div class="post">
                        <div class="post-first-row">
                            <a href="{% url 'profile' post.user.username%}"><img class="post-profile-image" src="{{ post.user.profilePicture }}" alt="Profile Picture"></a>
                            {% if request.user.username != post.user.username %}
                                <br>
                                <button id="follow-unfollow-button-{{ post.user.id }}" onclick="follow_unfollow('{{ post.user.id }}')">
                                    {% if post.user.id in followers %}
                                        Unfollow
                                    {% else %}
                                        Follow
                                    {% endif %}
                                </button>
                                <br>
                            {% endif %}
                            <p>{{ post.post.all|length}} likes</p>
                        </div>
                        <div class="post-second-row">
                            <div class="post-info">
                                <b>{{ post.user.username }}</b>
                                <i>{{ post.date }}</i>
                            </div>
                            {{ post.content }}
                            <br>
                            <button>Like</button>
                        </div>  
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="loader">No posts to show,  probably something is wrong.</div>
        {% endif %}

        <!--paginator-->
        <div class="paginator">
            {% if posts_paginated.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ posts_paginated.previous_page_number}}">Previous</a>
            {% endif %}
            
            Page {{ posts_paginated.number}} of {{ posts_paginated.paginator.num_pages }}

            {% if posts_paginated.has_next %}
                <a href="?page={{ posts_paginated.next_page_number }}">Next</a>
                <a href="?page={{ posts_paginated.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </div>

        <!--csrf token-->
        <input type="hidden" name="csrf" value="{{ csrf_token }}">
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            document.querySelector('#compose-form').onsubmit = function(event)
            {
                event.preventDefault();
                create_post();
            };
        });

        function getCSRFToken() {
            return document.querySelector('input[name="csrf"]').value;
        };

        function create_post(){
            fetch('/create_post',{
                method: 'POST',
                body: JSON.stringify(
                    {
                        content: document.querySelector('#content').value
                    }
                )
            })
            .then(() => window.location.reload())
            .then(response => response.json());
        };

        function follow_unfollow(action_profile) {
            console.log('Action Profile ID:', action_profile);
            var button = document.querySelector('#follow-unfollow-button-' + action_profile);
            var status = button.innerHTML.trim();
            if (status == "Unfollow") {
                button.innerHTML = "Follow";
            } else if (status == "Follow") {
                button.innerHTML = "Unfollow";
            }
            fetch('/follow_unfollow/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCSRFToken() // Include the CSRF token in the request headers
                    },
                    body: JSON.stringify({
                        content: action_profile
                    })
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Revert button text back to original on error
                    if (status == "Unfollow") {
                        button.innerHTML = "Unfollow";
                    } else if (status == "Follow") {
                        button.innerHTML = "Follow";
                    }
                });
        }
        
    </script>
{% endblock %}