{% extends "network/layout.html" %}
{% load static %}


{% block title %}Profile Page{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static 'network/profile.css' %}">
{% endblock %}


{% block body %}
    <div class="content">
        <div class="left-row">
            <div class="profile-image-container">
                <img class="profile-image" src="{{ user_profile_info.profilePicture.url }}" alt="Profile Picture">
            </div>
            
            <!--this part works only when the logged user is the same as passed arguments from profile-->
            {% if request.user.username == user_profile_info.username %}
            <button class="action-button change-profile-picture-button">Edit Profile Picture</button>
            <div class="change-profile-picture">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class="action-button" type="file" name="profilePicture" accept="image/*">
                    <input class="action-button" type="submit" value="Submit">
                </form>
            </div>
            {% endif %}

            <!--display user_profile_info-->
            <b>{{ user_profile_info.username }}</b>
            <br>
            {{ user_profile_info.first_name }}
            {{ user_profile_info.last_name }}
            <br>
            <br>
            <div class="followers-stats">
                <div>
                    Followers: {{user_profile_info.followed_by.all|length}}
                </div>
                <div>
                    Following: {{user_profile_info.is_following.all|length}}
                </div>
            </div>
            {% if request.user.username != user_profile_info.username %}
            <button class="action-button">Follow Button</button>
            {% endif %}

            <!--Description. can edit only when on your profile-->
            <div class="description">
                {{ user.description }}
                {% if request.user.username == user_profile_info.username %}
                <input type="submit" class="action-button change-description-button" value="Edit Description" onclick="openModal()">
                {% endif %}
            </div>
            <br>
            Joined: {{ user.date_joined.date}}
        </div>

        <!--row that contrains posts-->
        <div class="right-row">

            {% if posts %}
                <div class="posts-container">
                    {% for post in posts %}
                        <div class="post">
                            <div class="first-row">
                                <b>From: {{ post.user.username }}</b>
                                <br>
                                <i>{{ post.date }}</i>
                            </div>
                            <br>
                            {{ post.content }}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="loader">No posts from this user yet.</div>
            {% endif %}
        </div>
    </div>

    <script>

    </script>
{% endblock %}