{% extends "network/layout.html" %}
{% load static %}


{% block title %}Profile Page{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static 'network/profile.css' %}">
{% endblock %}


{% block body %}

    <div class="content">
        <div class="left-row">
            
            image
            <br>
            Joined: {{ user.date_joined.date}}
            <br>
            followers
            following
            <button>Follow Button</button>
        </div>

        <div class="right-row">
            {{ user.username }}
            <br>
            {{ user.first_name }}
            {{ user.last_name }}
            <br>
            {{ user.description }}
            <br>
            Posts
        </div>

    </div>

{% endblock %}