.content{
    display: flex;
}

.left-row{
    width: 360px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin-right: 16px;
    background-color: aquamarine;
}

.right-row{
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: aquamarine;
}