.content{
    display: flex;
}

.left-row{
    width: 360px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-right: 16px;
    background-color: aquamarine;
}

.right-row{
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: aquamarine;
}

.profile-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    background-color: black;
    margin: 8px 20px;
}

.followers-stats{
    display: flex;
    justify-content:space-evenly;
}