.content{
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 8px 20px;
    background-color: rgb(1, 255, 1);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item{
    margin: 0 4px;
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
}

.action-button{
    margin: 0 4px;
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
}

.post{
    background-color: rgb(199, 34, 166);
    border-radius: 10px;
    padding: 4px 8px;
    margin-top: 12px;
    width: 80ch;
    display: flex;
}

.post-first-row{
    align-items: center;
    width: 30%;
    border-right: 1px solid black;
}

.post-profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-second-row{
    width: 70%;
}

.post-info{
    display: flex;
    justify-content: space-between;
}